{% extends 'kakeibo/kakeibo_base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>日付</th>
                    <th>カテゴリ</th>
                    <th>金額</th>
                    <th>メモ</th>
                </tr>
            </thead>
            <tbody>
                {% for kakeibo in posts %}
                <tr>
                    <td>{{ kakeibo.id }}</td>
                    <td>{{ kakeibo.date }}</td>
                    <td>{{ kakeibo.category }}</td>
                    <td>{{ kakeibo.money }}</td>
                    <td>{{ kakeibo.memo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<h4>ようこそ『俺の家計簿！』へ。</h4>
<div>あなたの家計簿を作ることができるアプリです。まずはユーザ登録してツールを使えるように準備しましょう。</div>
{% endif %}
{% endblock %}